<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.examseatingarrangement">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/header"
        android:label="@string/app_name"
        android:roundIcon="@drawable/header"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ViewStudentsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterStudentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ForgetPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterDepartmentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentLoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminLoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".SeatAllocationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>